@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default prose (light) */
.prose {
  @apply text-slate-900;
}

/* Dark mode prose */
.dark .prose {
  @apply text-slate-100;
}

.prose a {
  @apply underline;
}

.dark .prose a {
  @apply text-blue-400;
}
